h1{
    color: rgb(15, 0, 151);
    background-color: rgb(150, 192, 255);
    width: 1500px;
    margin: 30px auto;
    padding:5px;
    text-align: center;
    text-transform:uppercase;
    font-size: 30pt;
}

 p, li, h3, h4,a{
    width: 1500px;
    margin: 30px auto;
}

h2{
    color: rgb(15, 0, 151);
    background-color: rgb(150, 192, 255);
    width: 320px;
    margin: 0px 190px;
    padding: 5px;
    border-bottom: solid 3px rgb(37, 28, 158);
    font-size: 20pt;
}

body{
    font-family: sans-serif;
}